<header class="flex items-center justify-between px-6 py-5 border-b border-gray-200 bg-white">
  <div class="flex items-center gap-2 text-3xl font-medium">
    <span class="text-gray-400"> Analytics </span>

    <span class="text-gray-400"> / </span>

    <span class="text-emerald-800 font-semibold">
      {{ platform }}
    </span>
  </div>

  <div class="flex items-center gap-5">
    <button class="w-10 h-10 rounded-full bg-emerald-50 hover:bg-emerald-100 transition">
      <i class="fa-regular fa-bell text-emerald-800"></i>
    </button>

    <button class="w-10 h-10 rounded-full bg-emerald-50 hover:bg-emerald-100 transition">
      <i class="fa-solid fa-bag-shopping text-emerald-800"></i>
    </button>
  </div>
</header>
